<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>write your chat</h3>
    <form action="/chats" method="POST">
        <input type="text" placeholder="write your name" name="from">
        <br><br>
        <textarea name="msg" id="" cols="30" rows="10">write your msg</textarea>
        <br><br>
        <input type="text" placeholder="enter reciever" name="to">
        <br><br>
        <button>create new chat</button>
    </form>
</body>
</html>