body{
    margin-left: 20px;
}
.chatbox{
    background-color:aliceblue;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}
.msgbox{
    color: white;
    background-color: dodgerblue;
    border-radius: 10px;
    padding: 5px 15px;
}